body {
  font-family: "Akkurat Pro Regular", -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif
}

.md-header {
  background-color: rgb(64, 31, 104);
}

.md-header__topic {
  display: none;
}