openapi: 3.0.1
info:
  title: Northwestern University Libraries Digital Collections API
  description: >
    This is full Markdown intro text. This API drives the [Northwestern University Libraries Digital 
    Collections](https://dc.library.northwestern.edu) site.

    I can even put line breaks in it. I can also link back to the [main documentation](..).
  version: 2.0.0
  contact:
    name: NUL Repository Team
    email: repository@northwestern.edu
servers:
  - url: https://dcapi.rdc.library.northwestern.edu/api/v2
tags:
  - name: Models
    description: >
      Endpoints for listing and retrieving Collections, FileSets, and Works.
  - name: Collection
  - name: FileSet
  - name: Work
  - name: Search
    description: >
      Endpoints for searching the index.
  - name: OAI-PMH
    description: >
      Endpoint implementing the Open Archives Initiative Protocol for Metadata Harvesting (OAI-PMH).
      As OAI-PMH is not a REST protocol, it is difficult to represent using OpenAPI/Swagger documentation.
      For full documentation and examples, please see the [official specification](https://www.openarchives.org/pmh/).
      Note: all 'from' and 'until' query parameters are required to follow the format: 'YYYY:MM:DDThh:mm:ss.ffffffZ'. If you do not need nanosecond precision for your request, then pad the date with zero values, e.g. '2023-01-13T00:00:00.000000Z'
paths:
  /collections:
    get:
      operationId: getCollections
      tags:
        - Collection
      parameters:
        - $ref: "./types.yaml#/components/parameters/page"
        - $ref: "./types.yaml#/components/parameters/size"
        - $ref: "./types.yaml#/components/parameters/sort"
      responses:
        200:
          $ref: "./types.yaml#/components/responses/SearchResponse"
  /collections/{id}:
    get:
      tags:
        - Collection
      operationId: getCollectionById
      parameters:
        - $ref: "./types.yaml#/components/parameters/id"
        - $ref: "./types.yaml#/components/parameters/as"
      responses:
        200:
          $ref: "./types.yaml#/components/responses/DocumentResponse"
  /collections/{id}/thumbnail:
    get:
      operationId: getCollectionThumbnail
      tags:
        - Collection
      parameters:
        - $ref: "./types.yaml#/components/parameters/id"
        - $ref: "./types.yaml#/components/parameters/thumbnailAspect"
        - $ref: "./types.yaml#/components/parameters/thumbnailSize"
      responses:
        200:
          description: A thumbnail image for the given collection
          content:
            image/jpeg:
              schema:
                type: string
                format: binary
  /file-sets/{id}:
    get:
      operationId: getFileSetById
      tags:
        - FileSet
      parameters:
        - $ref: "./types.yaml#/components/parameters/id"
      responses:
        200:
          $ref: "./types.yaml#/components/responses/DocumentResponse"
  /file-sets/{id}/authorization:
    get:
      operationId: getFileSetAuth
      tags:
        - FileSet
      parameters:
        - $ref: "./types.yaml#/components/parameters/id"
      responses:
        204:
          description: "The resource is authorized"
        403:
          description: "The resource is not authorized"
  /works/{id}:
    get:
      operationId: getWorkById
      tags:
        - Work
      parameters:
        - $ref: "./types.yaml#/components/parameters/id"
      responses:
        200:
          $ref: "./types.yaml#/components/responses/DocumentResponse"
  /works/{id}/similar:
    get:
      operationId: getSimilarWorks
      tags:
        - Work
      parameters:
        - $ref: "./types.yaml#/components/parameters/id"
        - $ref: "./types.yaml#/components/parameters/page"
        - $ref: "./types.yaml#/components/parameters/size"
        - $ref: "./types.yaml#/components/parameters/sort"
        - $ref: "./types.yaml#/components/parameters/as"
      responses:
        200:
          $ref: "./types.yaml#/components/responses/SearchResponse"
  /works/{id}/thumbnail:
    get:
      operationId: getWorkThumbnail
      tags:
        - Work
      parameters:
        - $ref: "./types.yaml#/components/parameters/id"
        - $ref: "./types.yaml#/components/parameters/thumbnailAspect"
        - $ref: "./types.yaml#/components/parameters/thumbnailSize"
      responses:
        200:
          description: A thumbnail image for the given work
          content:
            image/jpeg:
              schema:
                type: string
                format: binary
  /search:
    get:
      operationId: getSearch
      tags:
        - Search
      parameters:
        - $ref: "./types.yaml#/components/parameters/query"
        - $ref: "./types.yaml#/components/parameters/searchToken"
        - $ref: "./types.yaml#/components/parameters/page"
        - $ref: "./types.yaml#/components/parameters/size"
        - $ref: "./types.yaml#/components/parameters/sort"
        - $ref: "./types.yaml#/components/parameters/as"
      responses:
        200:
          $ref: "./types.yaml#/components/responses/SearchResponse"
    post:
      operationId: postSearch
      tags:
        - Search
      requestBody:
        content:
          application/json:
            schema:
              type: object

      responses:
        200:
          $ref: "./types.yaml#/components/responses/SearchResponse"
  /search/{models}:
    get:
      operationId: getSearchWithModels
      tags:
        - Search
      parameters:
        - $ref: "./types.yaml#/components/parameters/models"
        - $ref: "./types.yaml#/components/parameters/query"
        - $ref: "./types.yaml#/components/parameters/searchToken"
        - $ref: "./types.yaml#/components/parameters/page"
        - $ref: "./types.yaml#/components/parameters/size"
        - $ref: "./types.yaml#/components/parameters/sort"
        - $ref: "./types.yaml#/components/parameters/as"
      responses:
        200:
          $ref: "./types.yaml#/components/responses/SearchResponse"
    post:
      operationId: postSearchWithModels
      tags:
        - Search
      parameters:
        - $ref: "./types.yaml#/components/parameters/models"
        - $ref: "./types.yaml#/components/parameters/page"
        - $ref: "./types.yaml#/components/parameters/size"
        - $ref: "./types.yaml#/components/parameters/sort"
        - $ref: "./types.yaml#/components/parameters/as"
      responses:
        200:
          $ref: "./types.yaml#/components/responses/SearchResponse"
  /oai:
    get:
      operationId: oaiGet
      tags:
        - OAI-PMH
      parameters:
        - name: verb
          description: All OAI-PMH verbs are supported.
          in: query
          required: true
          schema:
            type: string
            enum:
              - GetRecord
              - Identify
              - ListIdentifiers
              - ListMetadataFormats
              - ListRecords
              - ListSets
        - name: identifier
          description: Required for `GetRecord` requests
          in: query
          required: false
          example: d75a851f-b773-4bdf-baec-62a8ec974126
          schema:
            type: string
        - name: metadataPrefix
          description: Required for `ListIdentifiers`, `ListRecords`, and `GetRecord` requests
          in: query
          required: false
          schema:
            type: string
            enum:
              - oai_dc
        - name: from
          description: Optional for `ListRecords` and `ListIdentifiers` requests, based on a record's modified date. Required format `YYYY:MM:DDThh:mm:ss.ffffffZ`
          in: query
          required: false
          example: 2023-01-01T08:12:23.561029Z
          schema:
            type: string
        - name: until
          description: Optional for `ListRecords` and `ListIdentifiers` requests, based on a record's modified date. Required format `YYYY:MM:DDThh:mm:ss.ffffffZ`
          in: query
          required: false
          example: 2023-01-12T12:03:59.224831Z
          schema:
            type: string
        - name: set
          description: Optional for `ListRecords` and `ListIdentifiers` requests, based on a collection id.
          in: query
          required: false
          example: c4f30015-88b5-4291-b3a6-8ac9b7c7069c
          schema:
            type: string
        - name: resumptionToken
          description: Exclusive parameter for retrieving additional results
          in: query
          required: false
          schema:
            type: string
      responses:
        200:
          description: An OAI-PMH response document
          content:
            application/xml:
              schema:
                type: object
    post:
      operationId: oaiPost
      tags:
        - OAI-PMH
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                verb:
                  description: All OAI-PMH verbs are supported
                  type: string
                identifier:
                  description: Required for `GetRecord` requests
                  type: string
                metadataPrefix:
                  description: Required for `ListIdentifiers`, `ListRecords`, and `GetRecord` requests. The only supported value is `"oai_dc"` currently.
                  type: string
                resumptionToken:
                  description: Exclusive parameter for retrieving additional results
                  type: string
                from:
                  description: Optional for `ListRecords` and `ListIdentifiers` requests, based on a record's modified date. Required format `YYYY:MM:DDThh:mm:ss.ffffffZ`
                  type: string
                until:
                  description: Optional for `ListRecords` and `ListIdentifiers` requests, based on a record's modified date. Required format `YYYY:MM:DDThh:mm:ss.ffffffZ`
                  type: string
                set:
                  description: Optional for `ListRecords` and `ListIdentifiers` requests, based on a collection id.
                  type: string
      responses:
        200:
          description: An OAI-PMH response document
          content:
            application/xml:
              schema:
                type: object
