name: Deploy
on:
  push:
    branches:
      - deploy/*
      - main
    paths:
      - ".github/workflows/deploy.yml"
      - "api/**"
      - "av-download/**"
      - "node/**"
      - "chat/**"
      - "template.yaml"
      - "**/template/yaml"
  workflow_dispatch:
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
permissions:
  contents: write
  actions: write
jobs:
  build-deploy:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: write
      actions: write
    environment: ${{ github.ref == 'refs/heads/main' && 'production' || 'staging' }}
    steps:
      - name: Set DEPLOY_ENV from Branch Name
        run: |
          if [[ $BRANCH == 'refs/heads/main' ]]; then
            echo "DEPLOY_ENV=production" >> $GITHUB_ENV
          else
            echo "DEPLOY_ENV=$(echo $BRANCH | awk -F/ '{print $NF}')" >> $GITHUB_ENV
          fi
        env:
          BRANCH: ${{ github.ref }}
      - name: Confirm deploy environment
        run: echo "Deploying to '$DEPLOY_ENV' environment"
      - name: Set GitHub Deploy Key
        uses: webfactory/ssh-agent@v0.5.3
        with:
          ssh-private-key: ${{ secrets.TFVARS_DEPLOY_KEY }}
      - uses: actions/checkout@v2
      - uses: actions/checkout@v2
        with:
          repository: "nulib/tfvars"
          ref: main
          path: ".tfvars"
      - uses: actions/setup-python@v2
        with:
          python-version: '3.12'
      - name: Install uv
        uses: astral-sh/setup-uv@v7
      - uses: aws-actions/setup-sam@v1
      - uses: aws-actions/configure-aws-credentials@master
        with:
          role-to-assume: arn:aws:iam::${{ secrets.AwsAccount }}:role/github-actions-role
          aws-region: us-east-1
      - run: ln -s .tfvars/dc-api/samconfig.${DEPLOY_ENV}.yaml .
      - run: make build
        env:
          SAM_CLI_BETA_BUILD_PERFORMANCE: 1
          SAM_CLI_BETA_PACKAGE_PERFORMANCE: 1
      - run: | 
          sam deploy \
            --no-confirm-changeset \
            --no-fail-on-empty-changeset \
            --config-file ./samconfig.${DEPLOY_ENV}.yaml \
          | sed 's/\(Parameter overrides\s*\): .*/\1: ***** REDACTED *****/'
          exit ${PIPESTATUS[0]}
        env:
          HONEYBADGER_REVISION: ${{ github.sha }}
          SAM_CLI_BETA_BUILD_PERFORMANCE: 1
          SAM_CLI_BETA_PACKAGE_PERFORMANCE: 1
      - name: Notify Honeybadger
        run: .github/scripts/honeybadger_deploy_notification.sh
        env:
          DEPLOY_ENV: ${{ env.DEPLOY_ENV }}
          HONEYBADGER_API_KEY: ${{ secrets.HONEYBADGER_API_KEY }}
          HONEYBADGER_REVISION: ${{ github.sha }}
      - name: Get current API version
        if: ${{ github.ref == 'refs/heads/main' }}
        run: echo "API_VERSION=$(make version)" >> $GITHUB_ENV
      - name: Tag Release
        if: ${{ github.ref == 'refs/heads/main' }}
        run: |
          git config --global user.email "$(git log --pretty=format:"%ae" | head -1)"
          git config --global user.name "$(git log --pretty=format:"%an" | head -1)"
          git tag -a v${API_VERSION} -m "Release ${API_VERSION}"
      - name: Push changes
        if: ${{ github.ref == 'refs/heads/main' }}
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          tags: true
          branch: main
      - name: Dispatch New Production PR
        if: ${{ github.ref == 'refs/heads/main' }}
        uses: actions/github-script@v6
        with:
          script: |
            github.rest.actions.createWorkflowDispatch({
              owner: context.repo.owner,
              repo: context.repo.repo,
              workflow_id: 'next_version.yml',
              ref: 'deploy/staging',
            })
