name: Validate Template
on:
  push:
    paths:
      - ".github/workflows/validate-template.yml"
      - "./template.yml"
  workflow_dispatch:
jobs:
  validate-template:
      runs-on: ubuntu-latest
      permissions:
        id-token: write
        contents: read
      environment: test
      steps:
        - uses: actions/setup-python@v4
          with:
            python-version: '3.12' 
        - name: Install uv
          uses: astral-sh/setup-uv@v7
        - name: Install cfn-lint
          run: pip install cfn-lint
        - uses: aws-actions/setup-sam@v1
        - uses: aws-actions/configure-aws-credentials@master
          with:
            role-to-assume: arn:aws:iam::${{ secrets.AwsAccount }}:role/github-actions-role
            aws-region: us-east-1
        - uses: actions/checkout@v3
        - name: Validate template
          run: make build && make validate